.ul { text-decoration: underline; }
.ds, .hs { color: red; }
.opplead { background-color: #FFFF80; }
.badlead { background-color: #FFC0C0; }
.stars { color: gold; }

table { border: none; }
table#main_table > tbody > tr > td {
  vertical-align: top;
  padding-bottom: 1em;
}
td.center {	text-align: center; }
td.right { text-align: right; }
.winnersCaption { caption-side: top; font-weight: bold; font-size: 14pt; margin-bottom: 1ex; }
.winnersNotFinal, .multiSessionFinal {
  font-style: italic; width: 47em; margin-left: auto; margin-right: auto;
}
.mssurl1 { font-family: verdana, sans-serif; font-size: 12pt; margin-left: 10.5em; margin-top: 0; margin-bottom: 2em; }
.mssurl2 { font-family: verdana, sans-serif; font-size: 11pt; margin-left: 1.7em; margin-top: 0; margin-bottom: 0; }
table.winnersWrapper {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 1em; margin-bottom: 2em;
}
table.winnersWrapper td { vertical-align: top; }
table.winners {
  font-family: Helvetica, Arial, sans-serif;
  border-spacing: 1em 0em;
}
table.winners1col { font-size: 12pt; margin-left: 10em; margin-top: 1em; margin-bottom: 2em; white-space: nowrap; }
table.winners2col { font-size: 10pt; white-space: nowrap; }
table.winners thead { font-weight: bold; }
td.results {
  font-family: "Courier New", Courier, monospace;
  font-size: 11pt;
}
table.results_iphone {
  border-spacing: 1.5ex 0em;
  font-family: Helvetica, sans-serif;
  font-size: 10pt;
}
table.results_iphone > tbody > tr > td {
  padding: 0px;
  margin: 0px;
}
table.results_iphone .bn { color: blue; }
table.board { border: none; }
td.board_top, table.board_middle, table.board_bottom {
  border: none;
}
td.north, td.south, td.west, td.east {
  border: none;
  width: 14ex;
  margin-left: 0px;
  padding-left: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
}
td.west { width: 15ex; }
td.east { padding-left: 1ex; }
td.south { padding-left: 7ex; }
td.boardnum {
  border: none;
  width: 3.5ex;
  padding-right: 0px;
  min-width: 3.5ex;
  max-width: 3.5ex;
  margin-right: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 24pt;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
}
td.dlrvul {
  font-size: 11pt;
  vertical-align: top;
  text-align: left;
}
table.HCP {
  font-size: 9pt;
  text-align: center;
  border: none;
}
table.DDmakes {
  font-size: 11pt;
  text-align: left;
  margin-left: 1ex;
}
.ddfail {
  font-size: small;
  color: #5050ff;
}
table.lott_par_copyaids {
  font-size: 11pt;
}
table.lott_par_copyaids td {
  padding-right: 1em;
}
table.lott_par_copyaids td {
  padding-right: 1em;
}
.eastwrapper {
  position: relative;
  z-index: -1;
}
.tablecloth {
  /* Absolutely positioned relative to eastwrapper */
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  left: -2.8em;
  top: 1.1em;
  background-color: green;
}
